NuoWindow/.vs/
NuoWindow/NuoWindow/Debug/
NuoWindow/NuoWindow/x64/Debug/
NuoWindow/NuoWindow/x64/Release/
NuoWindow/x64/
NuoWindow/NuoWindow/NuoWindow.aps
NuoDirect/.vs/
NuoDirect/Debug/
NuoDirect/NuoDirect/Debug/
NuoDirect/NuoDirect/x64/
NuoDirect/x64/Debug/
