NuoModelViewer/Debug/
NuoWindow/NuoWindow/Debug/
NuoWindow/NuoWindow/NuoWindow.aps
NuoDirect/Debug/
NuoDirect/NuoDirect/Debug/
NuoDirect/NuoDirect/Release/
NuoDirect/x64/Debug/
NuoDirect/x64/Release/

x64
.vs

